@import url("../assets/variables.css");

.container {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/background.png") no-repeat top left;
  background-size: cover;
  background-color: #d6ccce;
  display: flex;
  justify-content: flex-end;
}

.sticker {
  position: relative;
  width: 400px;
  height: 400px;
  margin-right: 6vw;
  top: calc(100vh/2 - 200px);
  display: flex;
  justify-content: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: linear-gradient(180deg, #BCB080 5%, #EFE5C0 20%, #EFEAD8 75%);
}